<div class="block notice">
  <h3>Ajuda</h3>
  <div class="content">
    <p>Cadastro de pessoas ou organizações tais como empresas, escolas, instituições.</p>
  </div>
</div>
<div class="block">
  <h3>Links <%= t("general.datafile_tag_list_field") %></h3>
  <ul class="navigation">	
    <% tags = current_user.datafiles.tag_counts_on(:tags) %>
    <% tags.each do |tag| %>
      <li>
	    <%= link_to tag.name, 
	        :controller => "datafiles", 
	        :action => "index",
            :search => tag.name,
            :method => :get 
        %>
      </li>
    <% end %>
  </ul>
</div>