<div class="block" id="block-text">  
  <div class="content">
    <h2 class="title">My File - web application</h2>
    <div class="inner">
      <p class="first">
	    Esta é uma aplicação web oferecida na forma de
		<a href="http://pt.wikipedia.org/wiki/Software_como_servi%C3%A7o"
		   target="_blank"> <span>SaaS (Software as a Service).</span></a>
      </p>
      <hr />
	  <h3>Principais funcionalidades</h3>
  	  <ul class="list">
	    <li><span>Cadastramento de Contatos</span></li>
	    <li><span>Contatos podem ser pessoas, lugares, empresas, organizações</span></li>
	    <li><span>Podem ser associados a rótulos</span></li>	
	    <li><span>Cada contato por ter um ou vários lugares com telefone, fax, celular, etc</span></li>	
	    <li><span>Pesquisa por qualquer informação registrada</span></li>
	    <li><span>Proteção de senha e registro de usuários</span></li>
	  </ul>
      <p> 
	    <span class="gray">
	      <span class="hightlight">Garantia de backup:</span> 
	      My File web application faz backup automático de 
	      todas as informações registradas.
	    </span>
	  </p>
      <hr />
      <p>
        Cadastre seus contatos e visualize-os de forma simples, apresentados na tela. 
        Em apenas uma tela você será capaz de ver seus contatos de negócios, contatos pessoais ou rótulos que
        você definir.
      </p>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>