<div class="block" id="block-text">  
  <div class="content">
    <h2 class="title">My File - web application</h2>
    <div class="inner">
      <p class="first">
	    Esta é uma aplicação web oferecida na forma de <span class="hightlight">SaaS (Software as a Service).</span>
      </p>
      <hr />
	  <h3>Principais funcionalidades</h3>
  	  <ul class="list">
	
	    <li><span>Cadastramento de Contatos</span></li>
	    <li><span>Opcoes para cadastramento de caracteristicas dos contatos</span></li>
	    <li><span>Pesquisa por qualquer informacao registrada no cadastro de contatos</span></li>
	    <li><span>Protecao de senha e registro de usuarios (e-mail)</span></li>
	    <li><span>Agrupamento de contatos por grupos</span></li>
	  </ul>
      <p> 
	    <span class="gray">
	      <span class="hightlight">Garantia de backup:</span> 
	      My File web application faz backup automatico de 
	      todas as informacoes registradas.
	    </span>
	  </p>
      <hr />
      <p>
        Cadastre seus contatos e visualize-os de forma simples, apresentados na tela. 
        Em apenas uma tela você será capaz de ver seus contatos de negocios, contatos pessoais ou outros grupos que
        voce defirnir.
        <span class="hightlight">Os grupos definidos sao dinamicos e voce pode muda-los a qualquer momento.</span>
      </p>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>