<p>Ola <%= @resource.email %>!</p>

<p>Alguem solicitou um link para mudar sua senha, e voce pode fazer isto atraves do link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se voce nao solicitou isto, por favor ignore este email.</p>
<p>Sua senha nao mudara ate voce acessar o link acima e criar uma nova.</p>
